*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* Background color */
    --primary-color:#4458dc;
    --secondery-color:#854fee;
    --bg-white:#fff;
    --bg-light:#faf8ff;
    --bg-black:#000;
    --bg-gray:#eee;
    --gradient: linear-gradient(to right,#4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc,#854fee);

     /* Text Color */
     --primary-text:#4458dc;
     --secondary-text:#854fee;
     --text-white:#fff;
     --text-gray:#777;

     /* Font Family */
     --primary-font:'Rubik', sans-serif;
     --secondery-font:'Roboto', sans-serif;
}
body{
    font-family: var(--secondery-font);
    width: 100%;
    background-image: url('../images/body-bg.png.webp');
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
/* custom css */
::-webkit-scrollbar-track{
    background: var(--bg-gray);
}
:: ::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
section{
    padding: 5rem 0;
}
.min-btn{
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 /30%);
    border: double 0.125rem transparent;
    padding: 0 2.265rem;
    transition: all.3s ease-in-out;
    --webkit-transition: all.3s ease-in-out;
}